<div class="call-out-wrap">
	<div class="call-out">
		<div class='callout-image'><img src="{{ 'hb-1.png' | asset_url }}" alt=""></div>
		<p class="call-out-title">Locally sourced</p>
	</div>
</div>
<div class="call-out-wrap">
	<div class="call-out">
		<div class='callout-image'><img src="{{ 'hb-2.png' | asset_url }}" alt=""></div>
		<p class="call-out-title">Smart Carbs</p>
	</div>
</div>
<div class="call-out-wrap">
	<div class="call-out">
		<div class='callout-image'><img src="{{ 'hb-3.png' | asset_url }}" alt=""></div>
		<p class="call-out-title">No additives</p>
	</div>
</div>
<div class="call-out-wrap">
	<div class="call-out">
		<div class='callout-image'><img src="{{ 'hb-4.png' | asset_url }}" alt=""></div>
		<p class="call-out-title">Healthy fats</p>
	</div>
</div>
<div class="call-out-wrap">
	<div class="call-out">
		<div class='callout-image'><img src="{{ 'hb-5.png' | asset_url }}" alt=""></div>
		<p class="call-out-title">Gluten free grains</p>
	</div>
</div>
<div class="call-out-wrap">
	<div class="call-out">
		<div class='callout-image'><img src="{{ 'hb-6.png' | asset_url }}" alt=""></div>
		<p class="call-out-title">Delivered fresh</p>
	</div>
</div>