<ul class="list-inline" id="footer-social">
	{% if settings.social_facebook_link != blank %}<li><a href="{{ settings.social_facebook_link }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>{% endif %}
	{% if settings.social_flickr_link != blank %}<li><a href="{{ settings.social_flickr_link }}"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>{% endif %}
	{% if settings.social_google_plus_link != blank %}<li><a href="{{ settings.social_google_plus_link }}"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>{% endif %}
	{% if settings.social_instagram_link != blank %}<li><a href="{{ settings.social_instagram_link }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>{% endif %}
	{% if settings.social_linkedin_link != blank %}<li><a href="{{ settings.social_linkedin_link }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>{% endif %}
	{% if settings.social_pinterest_link != blank %}<li><a href="{{ settings.social_pinterest_link }}"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>{% endif %}
	{% if settings.social_twitter_link != blank %}<li><a href="{{ settings.social_twitter_link }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>{% endif %}
	{% if settings.social_vimeo_link != blank %}<li><a href="{{ settings.social_vimeo_link }}"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>{% endif %}
	{% if settings.social_youtube_link != blank %}<li><a href="{{ settings.social_youtube_link }}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>{% endif %}
</ul>