<!-- /templates/customers/register.liquid -->
{% layout settings.customer_layout %}

<div class="container">
  <div id="customer-registration-form">
    <div class="row" id="page-title">
      <div class="col-sm-4 col-sm-offset-4">
        <h1>Create your<br>THR1VE account</h1>
        <p style="text-align: center">A THR1VE account makes checkout a breeze and lets you manage meal plan subscriptions, as well as seeing past orders of your favourite food!</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        {% form 'create_customer' %}

          {{ form.errors | default_errors }}
          
          <div class="form-group">
            <label for="FirstName" class="label--hidden">{{ 'customer.register.first_name' | t }}</label>
            <input class="form-control" type="text" name="customer[first_name]" id="FirstName" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
          </div>
          
          <div class="form-group">
            <label for="LastName" class="label--hidden">{{ 'customer.register.last_name' | t }}</label>
            <input class="form-control" type="text" name="customer[last_name]" id="LastName" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
          </div>
          
          <div class="form-group">
            <label for="Email" class="label--hidden">{{ 'customer.register.email' | t }}</label>
            <input class="form-control" type="email" name="customer[email]" id="Email" placeholder="{{ 'customer.register.email' | t }}" {% if form.errors contains "email" %} class="error"{% elsif form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
          </div>
          
          <div class="form-group">
            <label for="CreatePassword" class="label--hidden">{{ 'customer.register.password' | t }}</label>
            <input class="form-control" type="password" name="customer[password]" id="CreatePassword" placeholder="{{ 'customer.register.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>
          </div>
          
          <div class="form-group" style="text-align: center">
            <p class="submit-btn">
              <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
            </p>
            <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
          </div>

        {% endform %}
      </div>
    </div>
  </div>
</div>
