<!-- snippets/page.catering.liquid -->
<img src="https://cdn.shopify.com/s/files/1/0640/8935/files/THR1VE_caternig_headerNEW.png?15019416404863232720" width="100%" height="auto">
<div class="container" id="page-content">
	<div class="row" id="page-title">
		<div class="col-sm-12">
			
		</div>
	</div>
	<div class="row">
		<div class="{% if settings.enable_page_sidebar %}col-sm-9{% else %}col-sm-12{% endif %}">
			
			{{ page.content }}
				
			<div class="row">
				<div class="col-sm-12">
					{% form 'contact' %}
					
						{% if form.posted_successfully? %}
						<p class="alert bg-success">{{ 'contact.form.post_success' | t }}</p>
						{% endif %}
						
						{{ form.errors | default_errors }}
						
						<div class="form-group">
							{% assign name_attr = 'contact.form.name' | t | handle %}
					    	<label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
					    	<input type="text" id="ContactFormName" class="form-control" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">	    	
						</div>
						
						<div class="form-group">
					    	<label for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
					    	<input type="email" id="ContactFormEmail" class="form-control" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">					    	
						</div>
						
						<div class="form-group">
							{% assign name_attr = 'contact.form.phone' | t | handle %}
							<label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
							<input type="tel" id="ContactFormPhone" class="form-control" name="contact[{{ name_attr }}]" placeholder="Your phone number" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
						</div>
                  
                  
                <div class="form-group">
							{% assign name_attr = 'contact.form.name' | t | handle %}
					    	<label for="ContactFormName">Number of people</label>
					    	<input type="text" id="ContactFormName" class="form-control" name="contact[{{ name_attr }}]" placeholder="Number of people" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">	    	
						</div>
                  
                  
                  
                  
                  
                  {% include 'date' %}
                  
                  
                  
                  <div class="form-group">
							{% assign name_attr = 'contact.form.enquiry' | t | handle %}
							<label>Your loaction </label><BR>
   <select id="contactFormQuestionType" name="contact[question type]">
       <option>Sydney CBD</option>
       <option>Sydney - Macquarie</option>
     <option>Melbourne CBD</option>
     <option>Brisbane CBD</option>
     <option>Canberra</option>
    
     
   </select>
						</div>
                    
                    
                    
                    <div class="form-group">
							{% assign name_attr = 'contact.form.enquiry' | t | handle %}
							<label>Occasion </label><BR>
   <select id="contactFormQuestionType" name="contact[question type]">
       <option>Breakfast</option>
       <option>Lunch</option>
     <option>Dinner</option>
     <option>Snacks / Nibbles</option>
    
    
     
   </select>
						</div>
                      
                      <BR>
                        
                       
                        <a href="http://thr1ve.me/pages/menu">
   <input type="button" class="btn" value="Browse the menu" /></a>&nbsp; &nbsp; <a href="https://cdn.shopify.com/s/files/1/0640/8935/files/THR1VE_AW2015_PRESS.pdf?7729851894346684680"><input type="button" class="btn" value="Download print menu" /></a>
                        
                        
                        
                        <BR><BR>
						
                  
						
						<div class="form-group">
					    	<label for="ContactFormMessage">The exciting part - give us a brief description of your order.</label>
					    	<textarea rows="10" id="ContactFormMessage" class="form-control" name="contact[body]" placeholder="Briefly outline your order - which we can chat about in more detail once we receive your enquiry.">{% if form.body %}{{ form.body }}{% endif %}</textarea>
						</div>
						
						<input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">
                      
                      
						
					{% endform %}
				
                          
                          
                          <h2 style="font-size: 13px; line-height: 15px; font-weight: 200; text-align: left;"><br /><BR><HR><BR><strong>THE FINE PRINT<BR><BR>ORDER TIMING</strong><br />Please allow 48 hours for large orders. That said, we will of course do our best to accommodate last minute requests everytime!<br /><br /><strong>PAYMENT</strong><br />Can be made in store (card or cash), over the phone (card), or speak to us about invoicing.<br /><br /><strong>CANCELLATIONS</strong><br />We hate to see good food go to waste. Same day cancellations will require a 50% charge.<br /><br /><strong>DELIVERY</strong><br />We offer FREE delivery for orders over $200 within walking distance.<br />  <HR></h2>
                          
                          
                          </div>
			</div>
		</div>
                      
                      
                      
                      
                      
                      
                      
                      
		
		{% if settings.enable_page_sidebar %}
              
			{% include 'page-sidebar' %}
		{% endif %}
		
	</div>
</div>